<!DOCTYPE html>

<!--link href="/msc/views/plugins/module/customer/jquery.sap.account.customer.document.css"/-->
<script src="/front/common/jquery-1.11.3.js"></script>
<script src="/front/common/stapes-0.8.1/stapes.min.js"></script>
<script src="/front/plugins/helpers/helper.c.js"></script>
<script src="/front/plugins/prueba/prueba.c.js"></script>
<script src="/front/plugins/prueba/prueba.m.js"></script>


    <script>
        $(function(){
            var app = new PruebaController('body');
        });
    </script>
